.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png');
    background-size: cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in-out;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 700;
    color: #faf6f6;
    font-size: max(4.5vw, 26px);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
    animation: textGlow 3s infinite alternate;
}
.header-contents p{
    color: #fcf0f4;
    font-size: 1.5vw;
    line-height: 3vw;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}